<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resumer.mapper.user.RoleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.resumer.entity.po.user.Role">
                    <id column="role_id" property="roleId" />
                    <result column="create_time" property="createTime" />
                    <result column="modify_time" property="modifyTime" />
                    <result column="deleted" property="deleted" />
                    <result column="name" property="name" />
                    <result column="role_key" property="roleKey" />
                    <result column="status" property="status" />
                    <result column="description" property="description" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            role_id, create_time, modify_time, deleted, name, role_key, status, description
        </sql>

</mapper>
